

* {

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    
    background: linear-gradient(135deg, rgb(128, 104, 167) 10%, rgb(43, 42, 46) 100%) no-repeat center center fixed;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      width: 100%;
        grid-area: 1 / 1 / 1 / 13;
    }

    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav .active {
      background: #ddd;
      color: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .content{
    }
    
    
}



@media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      width: 100%;
        grid-area: 1 / 1 / 1 / 13;
    }

    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav .active {
      background: #ddd;
      color: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .content{
    }
    
    
}
